body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

html {height: 100%; width: auto;}

body{
  background-size: cover;  
  background-repeat: no-repeat;
}
#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
  }

.contenido{  
  color:white;
  padding-top:200px;
 
}
.redes{
  margin: 20px 20px;  
  border-radius: 16px;
  font-size: 15px;
  border: 1px white solid;
  text-align: left;
}
img{
  width: 5%;
  margin: 10px;
}
a{
  text-decoration: none;
}
#whatsapp{
  
}
#instagram{
  
}
#mail{
  
}

@media screen and (max-width:260px)
  {
  .redes{
    font-size: 8px;
  }
}
@media screen and (min-width:261px) and (max-width:300px)
  {
  .redes{
    font-size: 10px;
  }
}
@media screen and (min-width:301px) and (max-width:350px)
  {
  .redes{
    font-size: 12px;
  }
}
@media screen and (min-width:450px)and (max-width:799px){
  .redes{
    font-size: 22px;
    text-align: left;
  }
}
@media screen and (min-width:800px) and (max-width:1299px){
  .redes{
    font-size: 36px;
    text-align: left;
  }
}
@media screen and (min-width:1300px) {
  .redes{
    font-size: 32px;
    text-align: left;
  }
}
