body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

html {height: 100%; width: auto;}


#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
  }

.contenido{  
  display: flex;
  align-content: center;
  text-align: justify;  
  padding: 10px;  
  color:white;
  
}
h1{
  text-align: center;  
}
#botones{
 display: flex;
  justify-content: center;
  align-items: center;  
}
h1{    
  text-align: center;
}
