body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

html {height: 100%; width: auto;
}

#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
  }

img{
  width: 45%;
}
#dario{
  width: 50%;
}
.bloqueinicio{
  margin: 120px;
 
}
.darioTexto{
  font-size: 25px;
}
@media screen and (min-width:730px){
  .bloque{
    width: 50%;
    float: left;    
  }  
}