body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

html {height: 100%; width: auto;
}

#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
}

button{
  border: none;
  width: 50%;
  border-radius: 0 0 16px 16px;   
}
#darioBoton{
 width: 100%;
}
.bloque{ 
   padding-top: 50px;
  padding-bottom: 50px;
}
.flex{
  display: flex;
  flex-wrap: wrap;  
}

#b1{
  order: 1;
}
#b2{
  margin-bottom: 10px;
  order: 2;
}
#b3{
  order: 3;
}
#b4{
  order: 4;
}
#b5{
  order: 5;
}
#b6{
  order: 6;
}


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bloque{    
    display: flex; 
    align-items: center;
    width: 100%;
    height: auto;    
  }
  img{
   width: 60%; 
  }  
  button{
    width: 60%;
  }
  #b5{
    order: 7;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width:850px) {
  .bloque{
    width: 100%;
    height: auto;
    display: flex; 
    align-items: center;
  }
   img{
   width: 60%; 
  }  
  button{
    width: 60%;
  }
   #b5{
    order: 7;
  }
}
@media only screen and (min-width: 851px) and (max-width:875px) {
  .bloque{
    width: 100%;
    height: auto; 
    display: flex; 
    align-items: center;
  }
   img{
   width: 80%; 
  } 
  button{
    width: 80%;
  }
  #b5{
    order: 7;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 876px) {
.bloque{
  
    display: flex; 
    align-items: center;
    width: 50%;
    height: 400px;
    float: left;
  }
   img{
   width: 40%; 
  }
  button{
    width: 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bloque{
    display: flex; 
    align-items: center;
    height: 450px;  
  }
   img{
   width: 40%; 
  }  
  button{
    width: 40%;
  }
}