body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

html {height: 100%; width: auto;
}

#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
}

img{
  width: 70%;
  margin-top: 40px;
  
}
button{
  width: 90%;
  border-radius: 0 0 16px 16px;    
}
.bloqueinicio{

  margin-bottom: 20px;
}
.bloque{
  margin-bottom: 52px;
}
