@font-face{
    font-family: Dario;
    src: url(../fuentes/Robota-NonCommercial.otf);
}
@font-face{
    font-family: Dario1;
    src: url(../fuentes/CODE\ Bold.otf);
}
@font-face{
    font-family: Dario2;
    src: url(../fuentes/ChosenceBold.otf);
}
@font-face{
    font-family: Dario3;
    src: url(../fuentes/Azonix.otf);
}
@font-face{
    font-family: Silverstone;
    src: url(../fuentes/Silverstone-Sans.otf);
}


