.container {
  position: relative;
  width: 100%;
}

.image {  
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  
}
.image2 {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;  
}
.image3 {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto; 
}
.actores{
  position: relative;  
  width: 50%;
  display: none;  
}
.modelos{
  position: relative;
  width: 50%;
  display: none;  
}
.proyectos{
  position: relative;
 display: none;
  width: 50%;  
}
body {  
  background-attachment: fixed;
  background-image: url('../fotos/SobreMi/contacto2.jpg');  
  background-position: top;
  background-repeat: no-repeat;  
  background-size:cover; 
  height: max-content;  
}
  
