body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

html {height: 100%; width: auto;}
#mySidebar{    
  background-color:black;    
  z-index:3;width:250px;font-weight:bold;display:none;right:0;
}

.ajuste{
  height: 5px;
  background-color: transparent;
}
.container {
  position: relative;
  width: 100%;
}
.image {  
  display: block;
  width: 100%;
  height: auto;
  transition: transform .3s ease; 
  transform: scaleY(1);
  transform-origin:top;  
}
.container:hover .image { 
  transform: scaleY(0);
  transform-origin:top;
  width: 100%;  
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: auto;
  height: 100%;
  transition: transform .3s ease;
  transform: translateY(100%);
  transform-origin: bottom; 
}
.container:hover .overlay {
  transform: translateY(0%);
  width: 100%;  
}
.actores{
  margin: 0px;
  width: 33.33%;
  transform: scale(101%);
}
.modelos{
  width: 50%;
  margin: 0px;
}
.proyectos{
  width: 33.33%;
  margin: 0;
}
  