header{
    height: 91px;
  }
#mySidebar{    
    background-color:black;    
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
}

div > a {
    font-size: small;    
}
#demoDropRetratos {
    background-color: black;
    color: white;

}

#demoDrop {
    background-color: black;
    color: white;
}
#demoDrop1 {
    background-color: black;
    color: white;
}

#logoImg{
    padding: 20px;  
    width: 50%;
}
@media only screen and (max-width: 400px) {
    #logoImg{
       width:  
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logoImg{
       width: 50%; 
    }
} 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
 #logoImg{
       
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     #logoImg{
       width: 40%; 
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  #logoImg{
       width: 30%; 
    }
 }
