#mySidebar{
    background-color:black;
    outline-color: none; 
}

div > a {
    font-size: small;    
}
#demoDropRetratos {
    background-color: black;
    color: white;

}

#demoDrop {
    background-color: black;
    color: white;
}
