body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%; width: auto;}
.w3-half img{margin-bottom: -6px; cursor: pointer}
.w3-half img:hover{opacity: 0.6; transition: 0.3s}
.w3-third img{margin-bottom: -6px; cursor: pointer}
.w3-third img:hover{opacity: 0.6; transition: 0.3s}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 1; transition: 0.3s}
img {
  width: 100%;  
}
#img01 {
    
    width: 100%;   
  
}
#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
}

@media screen and (max-width:665px) and (orientation: landscape) {
  #img01 {        
    width: 35%;    
  }
}

@media screen and (orientation: landscape) and (min-width:667px) and (max-width:800px) {
  #img01 {    
    width: 45%;    
  }
}
@media screen and (orientation: landscape) and (min-width:801px) and (max-width:949px) {
  #img01 {    
    width: 40%;    
  }
}

@media screen and (orientation: landscape) and (min-width:951px) and (max-width:990px) {
  #img01 {    
    width: 70%;  
    margin-top: -20px;
    margin-bottom: -50px;
  }
}

@media screen and (orientation: landscape) and (min-width:991px) and (max-width:1199px) {
  #img01 {    
  width: 55%; 
    margin-top: -20px;
    margin-bottom: -50px;
  }  
}
@media screen and (orientation: landscape) and (min-width:1200px) {
  #img01 {    
  width: 55%;  
    margin-top: -20px;
    margin-bottom: -50px;
  }  
}
@media screen and (orientation: portrait) and (min-width:1201px) {
  #img01 {    
  width: 75%;    
  }  
}
