body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-half img{margin-bottom: -6px; cursor: pointer}
.w3-half img:hover{opacity: 0.6; transition: 0.3s}
.w3-third img{margin-bottom: -6px; cursor: pointer}
.w3-third img:hover{opacity: 0.6; transition: 0.3s}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 1; transition: 0.3s}

body, html {height: 100%; width: auto;}
img {
  width: 100%;
}
#img01 {
    height: auto;
    width: 100%;
}

#mySidebar {
    z-index:3;width:250px;font-weight:bold;display:none;right:0;
}

@media screen and (orientation: landscape) {
  #img01 {    
    width:30%;
  }
}
@media screen and (orientation: landscape)and (min-width:640px) and (max-width:800px) {
  #img01 {    
    width:40%;
  }
}
@media screen and (orientation: landscape)and (min-width:800px) and (max-width:819px) {
  #img01 {    
    width:32%;
  }
}

@media screen and (orientation: landscape)and (min-width:820px) and (max-width:850px) {
  #img01 {    
    width:38%;
  }
}
@media screen and (orientation: landscape)and (min-width:850px) and (max-width:1279px) {
  #img01 {    
    width:55%;
  }
}

@media screen and (orientation: landscape) and (min-width:1279px)and (max-width:1500px) {
  #img01 {    
    width:40%;
  }
}
@media screen and (orientation: landscape) and (min-width:1501px) {
  #img01 {    
    width:55%;
  }
}
@media screen and (orientation:portrait ){
  #prev, #next {
  opacity: 0;
    cursor: none;
   top: 0%;
    height: 650px;
    width: 150px;
    outline-color: transparent;
    
  }
}
